
.container_editPro{
    width: 100%;
    background-color: #c2c2c2;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 10px;
    /* height: 130vh; */
    max-height: 90vh;
    overflow:auto;
}
.fa-cloud-arrow-up{
   font-size: 100px;
}
.mota_editpro{
    max-width: 100%;
    max-height: 300px;
    width: 50%;
    height: 150px;
    padding: 0 20px;
    outline: none;
    border: 1px solid rgb(86, 85, 85);
    border-radius: 5px;
}
.h1_editPro{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.text_1{
    font-weight: bold;
    /* font-size: 16px; */
}
.buton_h1{
    background-color: #0B08AB;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    /* font-size: 18px; */
    line-height: 22.57px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
}
.buton_h1:hover{
    background-color: #08067f;
}
.h2_editPro{
    border: 1px solid #E9E9E9;
    border-radius: 5px;
}
.sub1_editPro{
    display: flex;
    justify-content: space-between;
    background-color: #0B08AB;
    height: 80px;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;

}
.text_sub1_editPro{
    color: white;
    padding-left: 30px;
}
.sub2_editPro{
    background-color: white;
   border-bottom-left-radius:5px ;
   border-bottom-right-radius:5px ;
   padding: 45px 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input_editPro{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    padding: 0 20px;
    
}
.idpro , .namepro , .grouppro{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.button_h3{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-left: 55%;
    margin-top: 20px;
}
.b1_inf , .b2_inf{
    
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 22.57px;
}
.b1_inf{
    background-color: #0B08AB;
}
.b2_inf{
    background-color: red;
}
.b1_inf:hover{
    background-color: #08067f;
}
.b2_inf:hover{
    background-color: rgb(201, 23, 23);
}