.main-content {
  /* font-family: Arial, sans-serif; */
  /* background-color: #f0f0f0; */
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.icon {
  cursor: pointer;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-card {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  width: 450px;
  height: 380px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-title {
  text-align: center;
  color: #1a237e;
  margin-bottom: 20px;
}

.form-group-fogot {
  /* margin-bottom: 15px; */
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foget-label {
  display: block;
  margin-bottom: 5px;
}

.foget-input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit-btn {
  width: 100%;
  /* padding: 10px; */
  height: 40px;
  background-color: #1a237e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #3949ab;
}