.chart-size {
  max-width: 300px;
  max-height: 300px;
  display: flex;
}
.container_home {
  width: 100%;
  background-color: #c2c2c2;
  padding-left: 25px;
  padding-right: 35px;
  padding-top: 10px;
  height: 100%;
  max-height: 92vh;
  overflow: auto;
}
.tongquan_home {
  border: 1px solid blue;
  margin: 10px;
}

.sub_home {
  border: 1px solid #0b08ab;
  background-color: white;
}
.dong1_tq {
  background-color: blue;
  color: white;
  padding: 11px 43px;
}
.dong2_tq {
  padding: 11px 43px;
  display: flex;
  justify-content: space-between;
}
.date_home {
  width: 150px;
  text-align: center;
  height: 30px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 5px;
}
.date_time_home {
  display: flex;
  column-gap: 15px;
}
.o_home {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffbb01;
}
.col_2_home {
  display: flex;
  gap: 20px;
}
.o1_home {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #30a032;
}
.o3_home {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffbb01;
}
.o4_home {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffd45f;
}
.o5_home {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffeab0;
}
.o6_home {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #30a032;
}
.o7_home {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #95f5a8;
}
.dong3_tq {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}
.col3_home {
  border-radius: 10px;
  background-color: #07b4a9;
  margin: 50px 20px;
  display: flex;
  gap: 20px;
  font-size: 20px;
  padding: 10px;
  width: 320px;
}
.icon_home {
  background-color: white;
  width: 80px;
  text-align: center;
}
.fa-calendar-check {
  color: #07b4a9;
  font-size: 40px;
  padding: 5px 0;
}
.fa-boxes-stacked {
  color: #07b4a9;
  font-size: 40px;
  padding: 5px 0;
}
.fa-box-archive {
  color: #07b4a9;
  font-size: 40px;
  padding: 5px 0;
}
.sub2_home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-text{
  color: white;
}
